//- # Alerts
//- @Components
//- Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.
.alert.alert-success(role='alert')
  strong Well done!
  |  You successfully read this important alert message.
.alert.alert-info(role='alert')
  strong Heads up!
  |  This alert needs your attention, but it's not super important.
.alert.alert-warning(role='alert')
  strong Warning!
  |  Better check yourself, you're not looking too good.
.alert.alert-danger(role='alert')
  strong Oh snap!
  |  Change a few things up and try submitting again.
